autopep8==2.3.1
certifi==2024.8.30
charset-normalizer==3.4.0
idna==3.10
JPype1==1.5.0
line_profiler==4.1.3
numpy==2.0.2
packaging==24.1
pillow==11.0.0
py5==0.10.2a0
pycodestyle==2.12.1
requests==2.32.3
stackprinter==0.2.12
tomli==2.0.2
urllib3==2.2.3
